<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
  <label>
    Primeiro nome:
    <br>
    <input type="text" formControlName="firstName">
    <br>
    <span *ngIf="cadastroForm.get('firstName')?.errors && cadastroForm.get('firstName')?.touched">
      Campo nome Obrigatório
    </span>
  </label>
  <br>
  <br>
  <label>
    Último nome:
    <br>
    <input type="text" formControlName="lastName">
  </label>
  <br>
  <br>
  <button [disabled]="cadastroForm.invalid" >Enviar</button>
  <br>
  <br>
  <!-- {{ cadastroForm.get('firstName')?.errors | json }} -  {{ cadastroForm.get('lastName')?.value }} -->
  {{ cadastroForm.get('firstName')?.errors | json }}
  {{ cadastroForm.get('firstName')?.touched | json }}
  {{ cadastroForm.get('firstName')?.dirty | json }}
</form>
