<form #form="ngForm">

  <label>
    Nome:
    <input type="text" name="nome" ngModel>
  </label>
  <br>
  <br>
  <label>
    Idade:
    <input type="text" name="idade" ngModel>
  </label>
  <br>
  <br>
  <label>
    Masculino:
    <input type="radio" name="sexo" value="Masculino" ngModel>
  </label>
  <br>
  <label>
    Feminino:
    <input type="radio" name="sexo" value="Feminino" ngModel>
  </label>
  <br>
  <label>
    Outros:
    <input type="radio" name="sexo" value="Outros" ngModel>
  </label>
</form>
<br>
<br>



{{ form.value | json }}
